<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Mapa da Jornada {% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://unpkg.com/@material-tailwind/html@latest/styles/material-tailwind.css"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap" rel="stylesheet">
    <style>
        /* Adicionando a fonte ao TailwindCSS */
        @import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
        .font-sora {
            font-family: 'Sora', sans-serif; /* Usando a fonte externa */
        }
        .cor{
            background-color: #67B264;
        }
    </style>
    </style>
</head>
<body>
    
    {% block header %}
    
    <header class="flex items-center px-[48px] w-full h-[80px] bg-[#DBD4D4]">
        <h1 class="text-xl underline"><a href=""> Surpresa! </a></h1>
        <div class="ml-auto flex items-center">
            <button class="bg-green-500 rounded-full text-black font-medium px-6 py-2 border-0 text-xl items-center">
                <a href="{% url 'login' %}"> Área do aluno </a>
            </button>
        </div>
    </header>

    {% endblock header %} 
    <div class="mx-auto">
        {% block content %}{% endblock %}
    </div>


</body>
</html>