<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap" rel="stylesheet">
    <style>
        /* Adicionando a fonte ao TailwindCSS */
        @import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
        .font-sora {
            font-family: 'Sora', sans-serif; /* Usando a fonte externa */
        }
    </style>
</head>
<body>
    
    <header class="flex items-center px-[48px] w-full h-[80px] bg-[#DBD4D4]">
        <h1 class="text-xl underline"><a href="https://www.google.com/"> Pratique! </a></h1>
        <div class="ml-auto flex items-center"> <!-- Adicionei ml-auto aqui -->
            <ul class="flex px-2">
                <li class="px-4"><a href="https://neymar.com/"> Carreira </a></li>
                <li class="px-4"><a href="https://neymar.com/"> Trilhas </a></li>
                <li class="px-4"><a href="https://neymar.com/"> Sobre nós </a></li>
            </ul>
            <button class="bg-green-500 rounded-full text-black font-medium px-6 py-2 border-0 text-xl items-center">
                <a href="https://amor.com"> Área do aluno </a>
            </button>
        </div> <!-- parte para esquerda-->
    </header> 
    {% block content %}
    {% endblock content %}
</body>
</html>