<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="{% url 'criar_curso' %}" method="POST"> {% csrf_token %}
    <label for="Nome"></label>
    <input type="text" name = "Nome" class="form-control" placeholder="Digite o nome do curso">
    <br/>
    <label for="Nome"></label>
    <input type="text" name = "Nome" class="form-control" placeholder="Digite a descrição do curso">
    <br/>
    <input type="submit" value="Criar Curso" class="btn btn-primary">
  </form>
</body>
</html>