{% extends 'base.html' %}

{% block content %}


<main class="w-auto h-[600px] flex flex-col items-center justify-center bg-white rounded shadow p-6">
    <div class="text-center">
        <button class="max-w-[800px] mx-auto bg-green-300 rounded-full text-black font-medium px-12 py-2 border-0 text-lg mb-10 items-center">
            <a href="https://amor.com"> 💚 APROVEITE A JORNADA  </a>
        </button>
        <h1 class="text-6xl font-sora font-bold mb-4">Descubra o que é possível com <br/> o extenso mundo da <br/> criação.</h1>
        <p class="text-gray-600 text-lg max-w-[800px] mx-auto p-4">Nós criamos o Mapa da Jornada para ajudar na sua jornada de aprendizado. Um mapeamento das principais demandas exigidas pelo mercado, com sugestões, evidências e opiniões.</p>
    </div>
</main>
<div class="w-auto h-[1200px] bg-black/10 rounded shadow px-64 py-16 flex flex-col">

    <button class="max-w-[800px] mx-auto bg-green-300 rounded-full text-black font-medium px-12 py-2 border-0 text-lg mb-10 items-center">
        <a href="https://amor.com"> 💚 PANORAMA GERAL </a>
    </button>
    
    <h1 class="text-6xl font-bold"> Informática para Internet </h1>
    <h2 class="text-4xl mt-2 mb-4 font-medium"> Curso: Técnico Integrado </h2> 
    <div class="desc flex my-4 w-full">
        <h3 class="mr-4"><strong> Carga horária: </strong> <br /> 3995h </h3>
        <h3 class="mr-4"><strong> Duração: </strong> <br /> Quatro anos </h3>
        <h3 class="mr-4"><strong> Tipo de ensino: </strong> <br /> Presencial </h3>
        <h3 class="mr-4"><strong> Oferta em: </strong> <br /> <a href="https://site.com"> Natal-Central </a> | <a href="https://site.com">Natal-Zona Norte</a> | <a href="https://natal.com">São Paulo do Potengi</a></h3>
    </div> <!-- descrição do curso de info -->
    <div class="border-t-2 border-black my-2"></div>

    <div class="grid grid-cols-[300px_1fr] gap-4 h-full">
        <aside class="h-full bg-lime-950 rounded-2xl mt-2 text-white">
            <div class="m-4">
                <h2 class="text-3xl font-bold">Período letivo</h2>
                <p class="mt-2">Em qual ano letivo você se encontra?</p>
                <ul class="mt-4">
                    <li><a href="#" class="text-lime-500 text-xl">Primeiro ano</a></li>
                    <li><a href="#" class="text-lime-500 text-xl">Segundo ano</a></li>
                    <li><a href="#" class="text-lime-500 text-xl">Terceiro ano</a></li>
                    <li><a href="#" class="text-lime-500 text-xl">Quarto ano</a></li>
                </ul>
                <img src="imagem.jpg" alt="Descrição da imagem" class="mt-4">
            </div>
        </aside>
    
        <div class="grid content-start gap-4 mt-2 rounded-2xl">
            <div class="bg-green-300 h-48 rounded-2xl p-4"> 
                <h2 class="text-xl"> Introdução à Lógica e Algoritmos </h2>
                <button class="bg-black text-white mt-[90px] rounded-lg px-4 py-2 hover:bg-black">Ver Mais</button>
            </div>

            <div class="bg-green-300 h-48 rounded-2xl p-4 "> 
                <h2 class="text-xl"> Princípios de Desing e Projeto Gráfico </h2>
                <button class="bg-black text-white mt-[90px] rounded-lg px-4 py-2 hover:bg-black">Ver Mais</button>
             </div>
            <div class="bg-green-300 h-48 rounded-2xl p-4"> 
                <h2 class="text-xl"> Informática </h2>
                <button class="bg-black text-white mt-[90px] rounded-lg px-4 py-2 hover:bg-black">Ver Mais</button>
            </div>
        </div>
    </div>
    
</div> 

{% endblock content %}
