<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Página Disciplina - {{ disciplina.nome }}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">
    <main class="flex">
        <aside class="w-[25%] y-full">
            <div class="bg-[#404040] text-white py-8 px-4 rounded-tr-4xl">
                <h1 class="text-3xl font-bold">{{ disciplina.nome }}</h1>
            </div>
            <div class="text-xl py-6 px-4 font-bold">
                Selecione o módulo que deseja estudar:
            </div>
            
            <div class="modulagem">
                {% for modulo in disciplina.modulos.all %}
                <div class="w-full y-[150px]">
                        <div class="bg-[#858585] y-[150px] text-black py-6 px-4">
                            <h1 class="text-2xl font-bold">{{ modulo.nome }}</h1>                
                            <p class="text-base mt-4">(Contextualização histórica antes de mergulhar nos fundamentos técnicos)</p>               
                            
                        </div> <!-- Fim Módulo -->
                        
                        <div class="topicagem text-white">
                            {% for topico in modulo.topicos.all %}
                                <div class="topico bg-[#CDCDCD] py-6 px-4">
                                    <h1 class="text-lg font-bold"><a class="">{{ topico.nome }}</a></h1>                
                                </div>
                            {% endfor %}
                        </div> <!-- fim topicagem-->               
                </div> <!-- fim div estranha ??? -->
                {% empty %}
                    <p class="text-gray-500 p-4">Nenhum módulo cadastrado.</p>
                {% endfor %}
            </div> <!--modulagem-->
        </aside>
        <section class="py-12 px-12 w-[75%]">
            <h2 class="text-4xl font-bold">Olá, caro estudante.</h2>
            <p class="text-2xl mt-2 w-[75%]">
                A disciplina de <b>{{ disciplina.nome }}</b>, como visto em sua página, que você possui acesso 
                <a href="{% url 'paginadisciplina' disciplina.id %}" class="text-blue-600 hover:underline">clicando aqui</a>,
                lhe fornecerá o essencial para o ofício de <b>Técnico em Informática para Internet.</b>
            </p>
            <!-- Restante da section -->
        </section>
    </main>
</body>
</html>